extends layout

block content
 div(class="content")
  if !message
   div(class="content-head is-center") Create a paste
  h4= message
   div(class="contact-area")
    if !message
     form(method='post',action='/create')
        textarea(name='paste', id='paste' rows="10" cols="50" placeholder="Add your paste here...")
        br
        br
        input(type='submit',name='submit',value='Submit' class="pure-button").submit-button