extends layout

block content
	div(class="content-head is-center") safe pastes
		div(class="pure-g")
			div(class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4")
			div(class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4")
			div(class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4")