extends layout

block content
  div(class="ribbon l-box-lrg pure-g")
        div(class="l-box-lrg is-center pure-u-1 pure-u-med-1-3 pure-u-lrg-2-8")
            img(class="pure-img-responsive" alt="File Icons" width="300" src="http://purecss.io/img/common/file-icons.png")
        div(class="l-box-lrg is-center pure-u-1 pure-u-med-1-3 pure-u-lrg-2-8")
            img(class="pure-img-responsive" alt="File Icons" width="300" src="http://purecss.io/img/common/file-icons.png")

        div(class="l-box-lrg is-center pure-u-1 pure-u-med-1-3 pure-u-lrg-2-8")
            img(class="pure-img-responsive" alt="File Icons" width="300" src="http://purecss.io/img/common/file-icons.png")
        div(class="pure-u-1 pure-u-med-1-2 pure-u-lrg-3-5")
            h2(class="content-head content-head-ribbon") Laboris nisi ut aliquip