extends layout

block content
  div(class="content")
   div(class="content-head is-center") safe pastes
   div(class="pure-g")
    div(class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4")
      h3(class="content-subhead") lel
      p 
  div(class="ribbon l-box-lrg pure-g", style="margin-bottom:-1px;")
        div(class="l-box-lrg is-center pure-u-1 pure-u-med-1-3 pure-u-lrg-2-8")
            img(class="pure-img-responsive" alt="File Icons" width="300" src="http://purecss.io/img/common/file-icons.png")
        div(class="l-box-lrg is-center pure-u-1 pure-u-med-1-3 pure-u-lrg-2-8")
            img(class="pure-img-responsive" alt="File Icons" width="300" src="http://purecss.io/img/common/file-icons.png")
        
        

        div(class="l-box-lrg is-center pure-u-1 pure-u-med-1-3 pure-u-lrg-2-8")
            img(class="pure-img-responsive" alt="File Icons" width="300" src="http://purecss.io/img/common/file-icons.png")
        div(class="pure-u-1 pure-u-med-1-2 pure-u-lrg-3-5")
            h2(class="content-head content-head-ribbon") Lumia pirisi 6.00 , time to wake up, Tiger!!



          