doctype html
html
  include header
  body
  div(class="header")
    div(class="menu")
      include menu
  div(class="content")    
    div(class="content-head is-center") discreetbin
      block content
include footer