doctype html
html
  include header
  body
  div(class="header")
    div(class="menu")
      include menu
  div(class="content")    
        div(class="pure-u-1 form-box")
          div(class="pure-u-1")
            div(style="content-head is-center")
              p discreetBin
            block content
include footer