doctype html
html
    include header
    body
        div(class="header")
          div(class="menu")
            include menu
        div(class="pure-u-1 form-box")
          div(class="pure-u-1")
            h1 discreetBin
            block content
div(class="footer") narck@github 