div(class="header")
	div(class="pure-menu pure-menu-open pure-menu-horizontal" style="background-color:#111;")
		a(class="pure-menu-heading") discreetBin
		ul
			li
				a(href="/") home
			li
				a(href="/create") create
			li
				a(href="/show") show