extends layout

block content
  include decrypt
  script.
    var paste = !{JSON.stringify(paste)};    
    function reveal(key) {
      var decrypted = decrypt(paste, key);
      document.getElementById('reveal').disabled = true
      if (decrypted == "") {
        document.getElementById('msg').firstChild.nodeValue = "Wrong password.";
      } else {
        document.getElementById('paste').firstChild.nodeValue = decrypt(paste, key);
      }
    }
  h1= hasPassword
  h4(id="msg")= message
  if !paste
    div(class="content-head is-center") Search for a paste
    
    form(method='post',action='/paste/show')
      input(type="textarea" name="search" id="search" placeholder="Insert paste id here...")
      br
      br
      input(type='submit', name='submit' value='Search' class="pure-button").submit-button
  if paste
    pre(style="text-align:left;font-size:0.7em;width:50%;margin-left:25%;padding-top:5%;padding-bottom:5%;text-transform: none;" id="paste")= paste
    input(type="text" name="password" id="password" value="")
    br
    input(type="submit" onClick="reveal(password.value)" class="pure-button" value="reveal" id="reveal")