extends layout

block content
  if !paste
   h3 Search for a paste
  
  h4= message
  
  if !paste
   form(method='post',action='/show')
        input(type="textarea" name="search" id="search" placeholder="Insert paste id here...")
        br
        br
        input(type='submit', name='submit' value='Search' class="pure-button").submit-button
  pre(style="text-align:left;font-size:0.7em;width:50%;margin-left:25%;padding-top:5%;padding-bottom:5%;")= paste